<!-- 引入 公用的头部 模版 -->
<% include header%>

	<!-- 添加数据的表单 -->
	<div class="row">
		<div class="col-md-12">
			<p style="color:red"><%= errText %></p>
		</div>
	</div>


<!-- 引入 公用的底部 模版 -->
<% include footer%>
