 <!-- 页脚 s -->
 <div class="footer">
            <div>
                <strong>Copyright</strong> &copy; 小白猿个人博客 .  . 陇ICP备16097955号-1
            </div>
        </div>

    </div>
</div>
 <!-- 页脚 e -->

<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.metisMenu.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/inspinia.js"></script>
<script src="/js/pace.min.js"></script>

</body>
</html>