<!DOCTYPE HTML>
<html>
<head>
    <title>写博客-越努力，越幸运！</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <!-- 网站后台样式 s -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <!-- 网站后台样式 e -->

    <!-- Ueditor开始 -->
    <script type="text/javascript" charset="utf-8" src="/libs/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/libs/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/libs/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/admin.js"></script>
    <!-- Ueditor结束 -->

</head>

<body>

<div id="wrapper">
    <!-- 左侧导航 s -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                        <a href="/admin">
                        <img alt="image" class="img-circle" src="/images/xby2.jpg"/></a>
                        <!-- <p><a href="">小白猿</a> </p> -->
                    </div>
                    <div class="logo-element">
                        xbyBlog
                    </div>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">博客管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class=""><a href="/admin/articleAdd">写博客</a></li>
                        <li><a href="/admin/articleList">博客文章管理</a></li>
                    </ul>
                </li>
                 <li class="">
                    <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">栏目管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class=""><a href="/admin/itemAdd">添加栏目</a></li>
                        <li><a href="/admin/itemList">栏目列表</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class=""><a href="/admin/adminAdd">添加用户</a></li>
                        <li><a href="/admin/adminList">用户列表</a></li>
                    </ul>
                </li>
                 <li class="">
                    <a href="#"><i class="fa fa-key"></i> <span class="nav-label">链接管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class=""><a href="/admin/linkAdd">添加链接</a></li>
                        <li><a href="/admin/linkList">链接列表</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-book"></i> <span class="nav-label">留言管理</span></a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- 左侧导航 e -->
    
    <!-- 顶部导航 s -->
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎来到xbyBlog的管理后台</span>
                    </li>

                    <li>
                        <a href="/admin/login">
                            <i class="fa fa-sign-out"></i> 退出登录
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
   

     <!-- 顶部导航 e -->