<% include header %>
         
                <div class="jumbotron">
                    <h2>Hello,欢迎访问管理后台</h2>
                    <p>
                        <p>到头来，</p>

                        <p>我们记住的，</p>

                        <p>不是敌人的攻击，</p>

                        <p>而是朋友的沉默。</p>

                        <p>——马丁·路德·金</p></p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            
        
<% include footer %>
        