<% include header %>

<article>
  <div class="container">
    <div class="banner">
      <p data-scroll-reveal="enter top over 2s">昨夜西风凋碧树。独上高楼，望尽天涯路</p>
      <p data-scroll-reveal="enter left over 2s after 1s">衣带渐宽终不悔，为伊消得人憔悴</p>
      <p data-scroll-reveal="enter bottom over 2s after 2s">众里寻他千百度，蓦然回首，那人却在灯火阑珊处</p>
    </div>
    <div class="memorial_day">
      <div class="time_axis"></div>
      <ul>
        <li class="n1"><a href="/">环境安装</a>
          <div class="dateview">2018-8-31</div>
        </li>
        <li class="n2"><a href="/">创建个人博客</a>
          <div class="dateview">2018-09-01</div>
        </li>
        <li class="n3"><a href="/">解决bug</a>
          <div class="dateview">2018-09-02</div>
        </li>
        <li class="n4"><a href="/">解决bug</a>
          <div class="dateview">2018-09-03</div>
        </li>
        <li class="n5"><a href="/">找bug</a>
          <div class="dateview">2018-09-04</div>
        </li>
      </ul>
    </div>
    <div class="about left">
  <h2>关于本站</h2>
    <ul> 
      <p>本站是Node.js + express + Mongodb 实现的个人博客网站</p>
      <h2>功能</h2>
      <p>前台： 首页：动态栏目、最新文章列表、友情链接；列表页：文章列表、友情链接；内容页</p>
      <p>后台：  1.文章管理：添加文章，文章列表、修改文章、删除文章、栏目路由；<br>
                2.栏目管理：增删改查；<br>
                3.友情链接：增删改查；<br>
                4.用户管理：增删改查、验证码、密码加密；<br>
                5.后台登录页：用户名密码验证</p>
       
    </ul>
    <h2>技术构成</h2>
    <p>服务端：node.js,web框架：express,模板引擎：ejs,数据库：MongoDB，UI库：bootstrap 3,js库：jquery，HTML5+css3等</p>

    <p>作者：小白猿</p>


</div>
  </div>
  </aside>
</article>

<% include footer %>